<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evelyn Brooks</title>
</head>
<body>

<header><b>Spirit Animal - Louise Belcher</b></header>
<img src=https://media.tenor.co/images/68020eb6ef97640362a1be1ccea3f03b/raw alt="gif of Louise Belcher"/>
<hr>
<h5>About Me</h5>
<img src=https://i.gifer.com/embedded/download/oeC.gif alt="gif of Louise Belcher on a computer"/>
<p>Here are some points and random facts that I feel would best describe me:</p>
<ul>
    <li>I feel like I am 29 going onto 60</li>
    <li>I have a RB face (not by choice)</li>
    <li>I enjoy going trying out new food/drink places</li>
    <li>Binging on shows</li>
    <li>Traveling</li>
    <li>I have a stress shopping problem</li>
    <li>I get bored easily</li>
    <li>I love using GIF's as you can see</li>
</ul>
<hr>
<h5>Passion Project</h5>
<img src=https://c.tenor.com/X3jJ_r78JlcAAAAC/bobs-burger-tina-belcher.gif alt="gif of Louise Belcher with fire"/>
<ul>
    <li>Coding</li>
    <li>E-Commerce</li>
    <li>Marketing</li>

</ul>
<hr>
<h5>Affiliated Links</h5>
<img src=http://media0.giphy.com/media/q4qWr5zepSZYA/giphy.gif alt="gif of Louise Belcher"/>
<ol>
    <li><a href="https://jegandsons.com/">JEG & Sons</a></li>
    <li><a href="https://instagram.com/">Instagram</a></li>
    <li><a href="https://tiktik.com/">Tik Tok</a></li>
    <li><a href="https://pintrest.com/">Tik Tok</a></li>
</ol>
</body>
</html>