<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Me</title>
</head>
<body>

<h1>Louise Belcher</h1>

    <img src="https://i.kym-cdn.com/photos/images/original/000/821/678/cca.gif" alt="picture of Louise Belcher"/>

<p><em>“Why don't you start speaking in words instead of your DAMN DIRTY LIES!”</em></p>
<hr>

<h4>About Me</h4>
<p>She is the youngest member of the Belcher family. Her off-balance sense of humor and hunger for conflict makes her somewhat of a liability. Louise is a bright, mischievous, yet manipulative child, especially considering her place as the youngest in the family. Frequently seen giving her older siblings (and sometimes adults) advice and making quick-witted remarks, she displays many signs associated with high intelligence. These include her tendencies towards being aloof and manipulative, but also encompasses her cunning, logic, and problem solving skills. Louise frequently slaps people. She does this when she dislikes someone or is attracted to a person. She also tends to be very loud and often shouts at the top of her lungs to get her points across.</p>

<hr>

<h4>Relatives</h4>
<ul>
    <li>Bob Belcher</li>
    <h5>Dad</h5>
    <p>Louise and her father have many things in common, and she seems to have acquired Bob's quirk of making inanimate object talk</p>
    <li>Linda Belcher</li>
     <h5>Mom</h5>
    <p>Linda and Louise's relationship is not always easy, as Louise has been a known daddy's girl since she was a baby</p>
    <li>Gene Belcher</li>
     <h5>Brother</h5>
    <p>Gene is Louise's older brother. Louise's brother often goes along with, or is even used in, her schemes and plans</p>
    <li>Tina Belcher</li>
     <h5>Sister</h5>
    <p>Although older than her sister Louise by 4 years, Tina is shown to easily swayed and manipulated by Louise. Almost always follows along with her adventures and schemes.</p>
</ul>

<hr>

<h4>Love-Interests</h4>
<ul>
    <li>Regular Sized Rudy</li>
    <p>Although Louise shows a soft spot for Rudy, she makes it abundantly clear that she has no problem teasing her asthmatic classmate</p>
    <li>Boo Boo</li>
    <p>Louise has palpably insane feelings for a pint-sized pop star</p>
</ul>

</body>
</html>